<div class="create-form">
    <h2 class="title">Search an Employee</h2>
    <div class="create-form--container">
        <form class="create-form--form">
            <label for="full-name">Unique Identity Number</label>
            <input class="inputs" type="text" id="full-name" placeholder="Enter the unique ID"/>
            <input class="submit" type="submit" value="Search"/>
        </form>
        <img class="create-form--img"src="../../../assets/public/angular.png" width="280"/>

    </div>
</div>

