<div class="homepage">
    <h1>How will you be using employee portal?</h1>
    <div class="homepage--action-one" onclick="location.href='all'">
        <img src="../../../assets/public/angular.png" width="80"/>
       <a href="all" style="width:260px; text-decoration: none;">See All Employees</a>
    </div>
    <div class="homepage--action-two" onclick="location.href='create'">
        <img src="../../../assets/public/angular.png" width="80"/>
        <a href="create" style="width:260px; text-decoration: none;">Add An Employee</a>
    </div>
    <div class="homepage--action-three" onclick="location.href='search'">
        <img src="../../../assets/public/angular.png" width="80"/>
        <a href="search" style="width:260px; text-decoration: none;">Search An Employee</a>
    </div>

</div>
