<div class="footer">
  <img
    src="../../../assets/public/angular-3-logo-png-transparent.png"
    width="220px"
    style="height: 70px"
  />
  <a class="footer--go-home" href="">Go Back To Home Page</a>
  <div class="footer--logo">
    <img
      src="../../../assets/public/google-play-badge-logo-png-transparent.png"
      width="160px"
      style="height: 33px"
    /><img
      src="../../../assets/public/pngwing.com.png"
      width="180px"
      style="height: 50px"
    />
  </div>
  <p class="footer--copy-right">
    Copyright @ 2022 Angular International LLC, All Copyrights Reserved
  </p>
  <div class="footer--terms-policy">
    <a class="terms">Terms And Condition</a><a class="policy">Privacy Policy</a>
  </div>
</div>
