<div class="see-all">
    <div class="see-all--employee" *ngFor="let employee of employeeList">
        <div class="header" *ngIf="employee">
          <h4>{{employee?.name}}</h4>
        </div>
        <div class="body" *ngIf="employee">
            <img src="../../../assets/public/pngaaa.com-5311056.png" width="50" style="padding-right: 10px;"/>
            <div style="padding:10px 0px; min-width:230px">
                <div>
                    <p>ID:{{employee.id}}</p>
                    <P>Department:{{employee?.designation?.department}}</P> 
                </div>
                <div>
                    <p>Role:{{employee.designation?.role}}</p>
                    <p>Salary:{{employee?.salary}}</p>
                </div>
            </div>
            <div>
                <div> 
                    <p>Address:{{employee?.address}}</p>
                    <p>Email:{{employee?.email}}</p>
                </div>
                <div>
                    <p>Phone:{{employee?.phone}}</p>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button (click)="editEmployee(employee)">Edit</button>
            <button (click)="deleteEmployee(employee.id)">Delete</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet> 
