<div class="create-form">
    <h2 class="title">Create an Employee</h2>
    <div class="create-form--container">
        <form class="create-form--form">
            <label for="id">ID</label>
            <input class="inputs" type="text" id="id" [(ngModel)]="id" name="id" placeholder="Enter the unique ID"/>
            <label for="full-name">Full Name</label>
            <input class="inputs" type="text" id="full-name" [(ngModel)]="name" name="full-name" placeholder="Enter the full name"/>
            <label for="address">Address</label>
            <input class="inputs"  type="text" id="address" [(ngModel)]="address" name="address" placeholder="Enter the full address"/>
            <label for="department">Department</label>
            <input class="inputs" type="text" id="department" name="department" [(ngModel)]="department" placeholder="Enter the designation"/>
            <label for="role">Role</label>
            <input class="inputs" type="text" id="role" name="role" [(ngModel)]="role" placeholder="Enter the designation"/>
            <label for="salary">Salary</label>
            <input class="inputs" style="display: block;" type="text" id="salary" [(ngModel)]="salary" name="salary" placeholder="Enter the salary"/>
            <label for="email" style="margin-left: 10px;">Email</label>
            <input class="inputs" style="margin-left: 10px;" type="text" id="email" [(ngModel)]="email" name="email" placeholder="Enter the email"/>
            <label for="phone" style="margin-left: 10px;">Phone</label>
            <input class="inputs" style="margin-left: 10px;" type="text" id="phone"  [(ngModel)]="phone" name="phone" placeholder="Enter the phone number"/>
            <input class="submit" type="button" value="Create" (click)="getFormValue()"/>
        </form>
        <img class="create-form--img"src="../../../assets/public/angular.png" width="280"/>

    </div>
</div>

