.create-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 970px;
  margin: auto;
  .title {
    display: flex;
    font-weight: bold;
    font-size: 31px;
    line-height: 140%;
    align-self: flex-start;
  }
  &--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    height: 500px;
    box-shadow: 0px 4px 11px rgba(47, 128, 237, 0.3);
    border-radius: 10px;
    padding: 10px 32px;
    align-items: center;
    label {
      font-size: 20px;
      line-height: 110%;
      font-weight: 700;
      display: block;
      margin: 10px 0px;
    }
    .inputs {
      width: 285px;
      height: 32px !important;
      background: #fcfcfd;
      border: 1px solid #cfd0d7 !important;
      border-radius: 4px;
      padding-left: 10px;
    }
    .submit {
      background: #1674f5;
      color: #fcfcfd;
      border-color: #1674f5;
      border-radius: 32px;
      width: 281px;
      height: 42px;
      margin: 40px 0px 0px 10px;
      font-size: 20px;
    }
  }
  &--img {
    height: 300px;
  }
  &--form{
    display: flex;
    flex-direction: column;
    max-height: 500px;
    flex-wrap: wrap;
  }
}
