<div class="create-form">
    <h2 class="title">Create an Employee</h2>
    <div class="create-form--container">
        <form class="create-form--form">
            <label for="full-name">ID</label>
            <input class="inputs" type="text" id="full-name" placeholder="Enter the unique ID"/>
            <label for="full-name">Full Name</label>
            <input class="inputs" type="text" id="full-name" placeholder="Enter the full name"/>
            <label for="address">Address</label>
            <input class="inputs"  type="text" id="address" placeholder="Enter the full address"/>
            <label for="designation">Designation</label>
            <input class="inputs" type="text" id="designation" placeholder="Enter the designation"/>
            <label for="salary">Salary</label>
            <input class="inputs" style="display: block;" type="text" id="salary" placeholder="Enter the salary"/>
            <label for="salary">Email</label>
            <input class="inputs" style="display: block;" type="text" id="salary" placeholder="Enter the email"/>
            <label for="salary" style="margin-left: 10px;">Phone</label>
            <input class="inputs" style="margin-left: 10px;" type="text" id="salary" placeholder="Enter the phone number"/>
            <input class="submit" type="submit" value="Create"/>
        </form>
        <img class="create-form--img"src="../../../assets/public/angular.png" width="280"/>

    </div>
</div>

