/* You can add global styles to this file, and also import other style files */
body {
  display: flex !important;
  margin: 0px !important;
  flex-direction: column !important;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #4E555D;
}
